openapi: 3.0.3
info:
  title: ShipTown
  description: 'API documentation for ShipTown'
  version: 1.0.0
servers:
  -
    url: 'https://demo.myshiptown.com'
paths:
  /api/activities:
    get:
      summary: ''
      operationId: getApiActivities
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiActivities
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                log_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: bhhusiszbqpigms
                description:
                  type: string
                  description: ''
                  example: 'Facere autem distinctio qui ut molestias placeat possimus.'
                properties:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
                subject_type:
                  type: string
                  description: ''
                  example: order
                  enum:
                    - order
                subject_id:
                  type: integer
                  description: 'This field is required when <code>subject_type</code> is present.'
                  example: 7
              required:
                - description
  /api/admin/user/roles:
    get:
      summary: ''
      operationId: getApiAdminUserRoles
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/admin/users:
    get:
      summary: ''
      operationId: getApiAdminUsers
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiAdminUsers
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: fwibxe
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: ysipes@example.org
                role_id:
                  type: string
                  description: ''
                  example: quia
                warehouse_id:
                  type: string
                  description: ''
                  example: null
                warehouse_code:
                  type: string
                  description: ''
                  example: null
                default_dashboard_uri:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: qrxvmnaqeeldzuik
              required:
                - name
                - email
                - role_id
  '/api/admin/users/{id}':
    get:
      summary: ''
      operationId: getApiAdminUsersId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    put:
      summary: ''
      operationId: putApiAdminUsersId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: q
                default_dashboard_uri:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: uzyuqhbzfhlmaomqgguarztf
                role_id:
                  type: integer
                  description: ''
                  example: 3
                printer_id:
                  type: number
                  description: ''
                  example: 0.1089792
                warehouse_id:
                  type: string
                  description: ''
                  example: null
                warehouse_code:
                  type: string
                  description: ''
                  example: null
              required:
                - name
    delete:
      summary: ''
      operationId: deleteApiAdminUsersId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
  /api/configurations:
    get:
      summary: ''
      operationId: getApiConfigurations
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiConfigurations
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                business_name:
                  type: string
                  description: 'Must not be greater than 200 characters.'
                  example: fugo
  /api/csv-import:
    post:
      summary: ''
      operationId: postApiCsvImport
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
  /api/csv-import/data-collections:
    post:
      summary: ''
      operationId: postApiCsvImportDataCollections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
  /api/csv-import/products:
    post:
      summary: ''
      operationId: postApiCsvImportProducts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
  /api/data-collector-actions/add-product:
    post:
      summary: ''
      operationId: postApiDataCollectorActionsAddProduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_collection_id:
                  type: string
                  description: ''
                  example: qui
                sku_or_alias:
                  type: string
                  description: ''
                  example: magnam
                quantity_scanned:
                  type: number
                  description: ''
                  example: 1.951863368
                quantity_requested:
                  type: number
                  description: ''
                  example: 651758887.864
              required:
                - data_collection_id
                - sku_or_alias
  /api/data-collector-actions/import-as-stocktake:
    post:
      summary: ''
      operationId: postApiDataCollectorActionsImportAsStocktake
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_collection_id:
                  type: integer
                  description: ''
                  example: 2
              required:
                - data_collection_id
  /api/data-collector-actions/import-as-sale-inventory-movement:
    post:
      summary: ''
      operationId: postApiDataCollectorActionsImportAsSaleInventoryMovement
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_collection_id:
                  type: integer
                  description: ''
                  example: 10
              required:
                - data_collection_id
  /api/data-collector-records:
    get:
      summary: ''
      operationId: getApiDataCollectorRecords
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiDataCollectorRecords
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_collection_id:
                  type: string
                  description: ''
                  example: quia
                inventory_id:
                  type: string
                  description: ''
                  example: repudiandae
                product_id:
                  type: string
                  description: ''
                  example: necessitatibus
                warehouse_id:
                  type: string
                  description: ''
                  example: null
                warehouse_code:
                  type: string
                  description: ''
                  example: voluptatem
                quantity_requested:
                  type: number
                  description: ''
                  example: 10200656.8
                quantity_scanned:
                  type: number
                  description: ''
                  example: 93.170745
              required:
                - data_collection_id
                - inventory_id
                - product_id
                - warehouse_code
  /api/data-collector:
    get:
      summary: ''
      operationId: getApiDataCollector
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiDataCollector
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                warehouse_id:
                  type: string
                  description: ''
                  example: necessitatibus
                warehouse_code:
                  type: string
                  description: ''
                  example: iusto
                name:
                  type: string
                  description: ''
                  example: hic
                custom_uuid:
                  type: string
                  description: ''
                  example: 3df8cac0-17d1-34ac-bf00-7bff9616a355
                type:
                  type: string
                  description: ''
                  example: App\Models\DataCollectionTransaction
                  enum:
                    - App\Models\DataCollectionTransferIn
                    - App\Models\DataCollectionTransferOut
                    - App\Models\DataCollectionStocktake
                    - App\Models\DataCollectionTransaction
                destination_warehouse_id:
                  type: integer
                  description: ''
                  example: 17
              required:
                - warehouse_id
                - warehouse_code
                - name
  '/api/data-collector/{id}':
    put:
      summary: ''
      operationId: putApiDataCollectorId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_warehouse_id:
                  type: integer
                  description: 'This field is required when <code>action</code> is <code>transfer_to_scanned</code>.'
                  example: 20
                action:
                  type: string
                  description: ''
                  example: auto_scan_all_requested
                  enum:
                    - transfer_in_scanned
                    - transfer_out_scanned
                    - transfer_to_scanned
                    - auto_scan_all_requested
                    - transfer_between_warehouses
                    - import_as_stocktake
                custom_uuid:
                  type: string
                  description: ''
                  example: f65eadae-6edb-3689-9b9b-284a83a87335
                name:
                  type: string
                  description: ''
                  example: excepturi
    delete:
      summary: ''
      operationId: deleteApiDataCollectorId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the data collector.'
        example: consequatur
        required: true
        schema:
          type: string
  /api/data-collector/comments:
    get:
      summary: ''
      operationId: getApiDataCollectorComments
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiDataCollectorComments
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_collection_id:
                  type: number
                  description: ''
                  example: 14.339529
                comment:
                  type: string
                  description: ''
                  example: quas
              required:
                - data_collection_id
                - comment
  /api/data-collector-payment-types:
    get:
      summary: ''
      operationId: getApiDataCollectorPaymentTypes
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiDataCollectorPaymentTypes
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: itgsfrhybnznzhc
                code:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: eiuyfzgoeeohv
              required:
                - name
                - code
  '/api/data-collector-payment-types/{id}':
    delete:
      summary: ''
      operationId: deleteApiDataCollectorPaymentTypesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the data collector payment type.'
        example: molestiae
        required: true
        schema:
          type: string
  /api/data-collector-payments:
    get:
      summary: ''
      operationId: getApiDataCollectorPayments
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiDataCollectorPayments
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_id:
                  type: number
                  description: ''
                  example: 131.0
                payment_type_id:
                  type: number
                  description: ''
                  example: 88.0
                amount:
                  type: number
                  description: ''
                  example: 0.0
              required:
                - transaction_id
                - payment_type_id
                - amount
  '/api/data-collector-payments/{id}':
    put:
      summary: ''
      operationId: putApiDataCollectorPaymentsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_type_id:
                  type: number
                  description: ''
                  example: 3243266.3441292
                amount:
                  type: number
                  description: ''
                  example: 402890.5129
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the data collector payment.'
        example: repudiandae
        required: true
        schema:
          type: string
  /api/heartbeats:
    get:
      summary: ''
      operationId: getApiHeartbeats
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/inventory-movements:
    get:
      summary: ''
      operationId: getApiInventoryMovements
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiInventoryMovements
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                warehouse_id:
                  type: integer
                  description: ''
                  example: 9
                product_id:
                  type: integer
                  description: ''
                  example: 18
                quantity:
                  type: number
                  description: 'Must not be one of <code>0</code>.'
                  example: 278360.9323
                description:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: 'Repellendus quasi aut minus a debitis iure.'
              required:
                - warehouse_id
                - product_id
                - quantity
                - description
  /api/inventory:
    get:
      summary: ''
      operationId: getApiInventory
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiInventory
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 17
                reorder_point:
                  type: number
                  description: ''
                  example: 19209031.0795
                restock_level:
                  type: number
                  description: ''
                  example: 4815168.0
                shelve_location:
                  type: string
                  description: ''
                  example: excepturi
                shelf_location:
                  type: string
                  description: ''
                  example: doloribus
              required:
                - id
  /api/jobs:
    get:
      summary: ''
      operationId: getApiJobs
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiJobs
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: number
                  description: ''
                  example: 2853767.1679787
              required:
                - job_id
  /api/logs:
    get:
      summary: ''
      operationId: getApiLogs
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/mail-templates:
    get:
      summary: ''
      operationId: getApiMailTemplates
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  '/api/mail-templates/{id}':
    put:
      summary: ''
      operationId: putApiMailTemplatesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: 'Must not be greater than 300 characters.'
                  example: nsdgzgzqseqfpentgddevgqp
                html_template:
                  type: string
                  description: ''
                  example: perferendis
                text_template:
                  type: string
                  description: ''
                  example: consectetur
                reply_to:
                  type: string
                  description: 'Must be a valid email address.'
                  example: ndickens@example.com
                to:
                  type: array
                  description: 'Must be a valid email address.'
                  example:
                    - brionna46@example.net
                  items:
                    type: string
              required:
                - subject
                - html_template
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the mail template.'
        example: 1
        required: true
        schema:
          type: integer
  /api/modules:
    get:
      summary: ''
      operationId: getApiModules
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  '/api/modules/{id}':
    put:
      summary: ''
      operationId: putApiModulesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: ''
                  example: false
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the module.'
        example: 1
        required: true
        schema:
          type: integer
  /api/modules/active-orders-inventory-reservations/configuration:
    get:
      summary: ''
      operationId: getApiModulesActiveOrdersInventoryReservationsConfiguration
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  '/api/modules/active-orders-inventory-reservations/configuration/{id}':
    put:
      summary: ''
      operationId: putApiModulesActiveOrdersInventoryReservationsConfigurationId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                warehouse_id:
                  type: string
                  description: ''
                  example: quibusdam
              required:
                - warehouse_id
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the configuration.'
        example: est
        required: true
        schema:
          type: string
  /api/modules/api2cart/connections:
    get:
      summary: ''
      operationId: getApiModulesApi2cartConnections
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesApi2cartConnections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                location_id:
                  type: string
                  description: ''
                  example: at
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.mertz.org/'
                type:
                  type: string
                  description: ''
                  example: enim
                bridge_api_key:
                  type: string
                  description: ''
                  example: iure
              required:
                - location_id
                - url
                - type
                - bridge_api_key
  '/api/modules/api2cart/connections/{id}':
    delete:
      summary: ''
      operationId: deleteApiModulesApi2cartConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the connection.'
        example: 20
        required: true
        schema:
          type: integer
  /api/modules/api2cart/products:
    get:
      summary: ''
      operationId: getApiModulesApi2cartProducts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: kgrgrixaqiwiucadey
                connection_id:
                  type: integer
                  description: ''
                  example: 8
              required:
                - sku
  /api/modules/automations/config:
    get:
      summary: ''
      operationId: getApiModulesAutomationsConfig
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/modules/automations:
    get:
      summary: ''
      operationId: getApiModulesAutomations
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesAutomations
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 200 characters.'
                  example: nzjydjrfnqqxemuwebhqvntxf
                description:
                  type: string
                  description: ''
                  example: 'Sit id accusamus iste voluptatibus autem.'
                enabled:
                  type: boolean
                  description: ''
                  example: false
                priority:
                  type: number
                  description: ''
                  example: 1199175.28348
                conditions:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      condition_class:
                        type: string
                        description: ''
                        example: App\Modules\Automations\src\Conditions\Order\LabelTemplateInCondition
                        enum:
                          - App\Modules\Automations\src\Conditions\Order\IsActiveCondition
                          - App\Modules\Automations\src\Conditions\Order\StatusCodeEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\StatusCodeInCondition
                          - App\Modules\Automations\src\Conditions\Order\StatusCodeNotInCondition
                          - App\Modules\Automations\src\Conditions\Order\CanFulfillFromLocationCondition
                          - App\Modules\Automations\src\Conditions\Order\CanNotFulfillFromLocationCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodCodeEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodCodeInCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodNameEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodNameInCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingAddressCountryCodeInCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingAddressCountryCodeNotInCondition
                          - App\Modules\Automations\src\Conditions\Order\LabelTemplateInCondition
                          - App\Modules\Automations\src\Conditions\Order\CourierLabelTemplateIsNotInCondition
                          - App\Modules\Automations\src\Conditions\Order\LineCountEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\TotalQuantityToShipEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\IsPartiallyPaidCondition
                          - App\Modules\Automations\src\Conditions\Order\IsFullyPaidCondition
                          - App\Modules\Automations\src\Conditions\Order\IsFullyPickedCondition
                          - App\Modules\Automations\src\Conditions\Order\IsFullyPackedCondition
                          - App\Modules\Automations\src\Conditions\Order\OrderNumberEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\OrderNumberContainsCondition
                          - App\Modules\Automations\src\Conditions\Order\HasTagsCondition
                          - App\Modules\Automations\src\Conditions\Order\HasAnyShipmentCondition
                          - App\Modules\Automations\src\Conditions\Order\DoesntHaveTagsCondition
                          - App\Modules\Automations\src\Conditions\Order\HoursSincePlacedAtCondition
                          - App\Modules\Automations\src\Conditions\Order\HoursSinceLastUpdatedAtCondition
                      condition_value:
                        type: string
                        description: ''
                        example: impedit
                actions:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      action_class:
                        type: string
                        description: ''
                        example: App\Modules\Slack\src\Automations\SendSlackNotificationAction
                        enum:
                          - App\Modules\Automations\src\Actions\Order\SetStatusCodeAction
                          - App\Modules\Automations\src\Actions\Order\AddOrderCommentAction
                          - App\Modules\Automations\src\Actions\Order\LogMessageAction
                          - App\Modules\Automations\src\Actions\Order\SetLabelTemplateAction
                          - App\Modules\Automations\src\Actions\Order\SplitOrderToWarehouseCodeAction
                          - App\Modules\Automations\src\Actions\Order\ShipRemainingProductsAction
                          - App\Modules\Automations\src\Actions\Order\PushToBoxTopOrderAction
                          - App\Modules\Automations\src\Actions\Order\SendOrderEmailAction
                          - App\Modules\Automations\src\Actions\Order\SplitBundleSkuAction
                          - App\Modules\Automations\src\Actions\Order\AttachTagsAction
                          - App\Modules\Automations\src\Actions\Order\DetachTagsAction
                          - App\Modules\Slack\src\Automations\SendSlackNotificationAction
                      action_value:
                        type: string
                        description: ''
                        example: sint
              required:
                - name
                - enabled
                - priority
  '/api/modules/automations/{id}':
    get:
      summary: ''
      operationId: getApiModulesAutomationsId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    put:
      summary: ''
      operationId: putApiModulesAutomationsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 200 characters.'
                  example: vafzw
                description:
                  type: string
                  description: ''
                  example: 'Possimus quis sit voluptate laborum ea ipsam.'
                enabled:
                  type: boolean
                  description: ''
                  example: false
                priority:
                  type: number
                  description: ''
                  example: 8783534.927
                conditions:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    properties:
                      condition_class:
                        type: string
                        description: ''
                        example: App\Modules\Automations\src\Conditions\Order\ShippingAddressCountryCodeNotInCondition
                        enum:
                          - App\Modules\Automations\src\Conditions\Order\IsActiveCondition
                          - App\Modules\Automations\src\Conditions\Order\StatusCodeEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\StatusCodeInCondition
                          - App\Modules\Automations\src\Conditions\Order\StatusCodeNotInCondition
                          - App\Modules\Automations\src\Conditions\Order\CanFulfillFromLocationCondition
                          - App\Modules\Automations\src\Conditions\Order\CanNotFulfillFromLocationCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodCodeEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodCodeInCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodNameEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingMethodNameInCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingAddressCountryCodeInCondition
                          - App\Modules\Automations\src\Conditions\Order\ShippingAddressCountryCodeNotInCondition
                          - App\Modules\Automations\src\Conditions\Order\LabelTemplateInCondition
                          - App\Modules\Automations\src\Conditions\Order\CourierLabelTemplateIsNotInCondition
                          - App\Modules\Automations\src\Conditions\Order\LineCountEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\TotalQuantityToShipEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\IsPartiallyPaidCondition
                          - App\Modules\Automations\src\Conditions\Order\IsFullyPaidCondition
                          - App\Modules\Automations\src\Conditions\Order\IsFullyPickedCondition
                          - App\Modules\Automations\src\Conditions\Order\IsFullyPackedCondition
                          - App\Modules\Automations\src\Conditions\Order\OrderNumberEqualsCondition
                          - App\Modules\Automations\src\Conditions\Order\OrderNumberContainsCondition
                          - App\Modules\Automations\src\Conditions\Order\HasTagsCondition
                          - App\Modules\Automations\src\Conditions\Order\HasAnyShipmentCondition
                          - App\Modules\Automations\src\Conditions\Order\DoesntHaveTagsCondition
                          - App\Modules\Automations\src\Conditions\Order\HoursSincePlacedAtCondition
                          - App\Modules\Automations\src\Conditions\Order\HoursSinceLastUpdatedAtCondition
                      condition_value:
                        type: string
                        description: ''
                        example: aliquam
                actions:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    properties:
                      action_class:
                        type: string
                        description: ''
                        example: App\Modules\Automations\src\Actions\Order\SendOrderEmailAction
                        enum:
                          - App\Modules\Automations\src\Actions\Order\SetStatusCodeAction
                          - App\Modules\Automations\src\Actions\Order\AddOrderCommentAction
                          - App\Modules\Automations\src\Actions\Order\LogMessageAction
                          - App\Modules\Automations\src\Actions\Order\SetLabelTemplateAction
                          - App\Modules\Automations\src\Actions\Order\SplitOrderToWarehouseCodeAction
                          - App\Modules\Automations\src\Actions\Order\ShipRemainingProductsAction
                          - App\Modules\Automations\src\Actions\Order\PushToBoxTopOrderAction
                          - App\Modules\Automations\src\Actions\Order\SendOrderEmailAction
                          - App\Modules\Automations\src\Actions\Order\SplitBundleSkuAction
                          - App\Modules\Automations\src\Actions\Order\AttachTagsAction
                          - App\Modules\Automations\src\Actions\Order\DetachTagsAction
                          - App\Modules\Slack\src\Automations\SendSlackNotificationAction
                      action_value:
                        type: string
                        description: ''
                        example: aspernatur
              required:
                - name
                - enabled
                - priority
    delete:
      summary: ''
      operationId: deleteApiModulesAutomationsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the automation.'
        example: a
        required: true
        schema:
          type: string
  /api/modules/autostatus/picking/configuration:
    get:
      summary: ''
      operationId: getApiModulesAutostatusPickingConfiguration
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesAutostatusPickingConfiguration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                max_batch_size:
                  type: integer
                  description: ''
                  example: 20
                max_order_age:
                  type: integer
                  description: ''
                  example: 20
  /api/modules/dpd-ireland/connections:
    get:
      summary: ''
      operationId: getApiModulesDpdIrelandConnections
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesDpdIrelandConnections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                  description: ''
                  example: nihil
                token:
                  type: string
                  description: ''
                  example: non
                password:
                  type: string
                  description: ''
                  example: '"Q|ilQ|vw'
                live:
                  type: boolean
                  description: ''
                  example: false
                contact:
                  type: string
                  description: ''
                  example: qui
                contact_telephone:
                  type: string
                  description: ''
                  example: amet
                contact_email:
                  type: string
                  description: ''
                  example: legros.carmela@example.com
                business_name:
                  type: string
                  description: ''
                  example: cum
                address_line_1:
                  type: string
                  description: ''
                  example: tenetur
                address_line_2:
                  type: string
                  description: ''
                  example: nulla
                address_line_3:
                  type: string
                  description: ''
                  example: quae
                address_line_4:
                  type: string
                  description: ''
                  example: nisi
                country_code:
                  type: string
                  description: ''
                  example: IE
                  enum:
                    - IE
                    - IRL
                    - UK
                    - GB
              required:
                - user
                - token
                - password
                - live
                - contact
                - contact_telephone
                - address_line_3
                - address_line_4
                - country_code
  '/api/modules/dpd-ireland/connections/{id}':
    delete:
      summary: ''
      operationId: deleteApiModulesDpdIrelandConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the connection.'
        example: sit
        required: true
        schema:
          type: string
  /api/modules/dpd-uk/dpd-uk-connections:
    get:
      summary: ''
      operationId: getApiModulesDpdUkDpdUkConnections
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesDpdUkDpdUkConnections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_number:
                  type: string
                  description: ''
                  example: animi
                username:
                  type: string
                  description: ''
                  example: perspiciatis
                password:
                  type: string
                  description: ''
                  example: 'gpWkv$C>L3!ro,B-5U!'
                collection_address:
                  type: object
                  description: ''
                  example: []
                  properties:
                    company:
                      type: string
                      description: ''
                      example: minima
                    full_name:
                      type: string
                      description: ''
                      example: enim
                    first_name:
                      type: string
                      description: ''
                      example: ullam
                    last_name:
                      type: string
                      description: ''
                      example: vero
                    email:
                      type: string
                      description: ''
                      example: delpha.lemke@example.net
                    address1:
                      type: string
                      description: ''
                      example: quia
                    address2:
                      type: string
                      description: ''
                      example: quis
                    postcode:
                      type: string
                      description: ''
                      example: aut
                    city:
                      type: string
                      description: ''
                      example: qui
                    state_code:
                      type: string
                      description: ''
                      example: quibusdam
                    state_name:
                      type: string
                      description: ''
                      example: repellendus
                    country_code:
                      type: string
                      description: ''
                      example: aliquid
                    country_name:
                      type: string
                      description: ''
                      example: est
                    phone:
                      type: string
                      description: ''
                      example: cum
                    fax:
                      type: string
                      description: ''
                      example: ea
                    website:
                      type: string
                      description: ''
                      example: consequatur
                    region:
                      type: string
                      description: ''
                      example: consectetur
              required:
                - account_number
                - username
                - password
                - collection_address
  '/api/modules/dpd-uk/dpd-uk-connections/{id}':
    delete:
      summary: ''
      operationId: deleteApiModulesDpdUkDpdUkConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the dpd uk connection.'
        example: dolorem
        required: true
        schema:
          type: string
  /api/modules/magento-api/connections:
    get:
      summary: ''
      operationId: getApiModulesMagentoApiConnections
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesMagentoApiConnections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                base_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://kulas.net/sequi-nobis-quis-cum-magni-non-ipsa-reiciendis'
                magento_store_id:
                  type: number
                  description: ''
                  example: 521588.4303323
                tag:
                  type: string
                  description: ''
                  example: null
                pricing_source_warehouse_id:
                  type: string
                  description: ''
                  example: null
                api_access_token:
                  type: string
                  description: ''
                  example: vel
              required:
                - base_url
                - magento_store_id
                - api_access_token
  '/api/modules/magento-api/connections/{id}':
    put:
      summary: ''
      operationId: putApiModulesMagentoApiConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                base_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.zulauf.biz/aliquam-nam-sunt-corporis-quod-commodi.html'
                magento_store_id:
                  type: number
                  description: ''
                  example: 165102588.14207
                tag:
                  type: string
                  description: ''
                  example: a
                pricing_source_warehouse_id:
                  type: string
                  description: ''
                  example: totam
                api_access_token:
                  type: string
                  description: ''
                  example: quo
              required:
                - base_url
                - magento_store_id
                - tag
                - pricing_source_warehouse_id
                - api_access_token
    delete:
      summary: ''
      operationId: deleteApiModulesMagentoApiConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the connection.'
        example: 13
        required: true
        schema:
          type: integer
  /api/modules/magento2msi/connections:
    get:
      summary: ''
      operationId: getApiModulesMagento2msiConnections
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesMagento2msiConnections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
  '/api/modules/magento2msi/connections/{id}':
    put:
      summary: ''
      operationId: putApiModulesMagento2msiConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    delete:
      summary: ''
      operationId: deleteApiModulesMagento2msiConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the connection.'
        example: omnis
        required: true
        schema:
          type: string
  /api/modules/printnode/clients:
    get:
      summary: ''
      operationId: getApiModulesPrintnodeClients
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesPrintnodeClients
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: ''
                  example: null
  '/api/modules/printnode/clients/{id}':
    delete:
      summary: ''
      operationId: deleteApiModulesPrintnodeClientsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the client.'
        example: 13
        required: true
        schema:
          type: integer
  /api/modules/printnode/printers:
    get:
      summary: ''
      operationId: getApiModulesPrintnodePrinters
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/modules/printnode/printjobs:
    post:
      summary: ''
      operationId: postApiModulesPrintnodePrintjobs
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                printer_id:
                  type: integer
                  description: ''
                  example: 8
                title:
                  type: string
                  description: ''
                  example: delectus
                content_type:
                  type: string
                  description: ''
                  example: minima
                content:
                  type: string
                  description: ''
                  example: aut
                expire_after:
                  type: integer
                  description: ''
                  example: 7
                pdf_url:
                  type: string
                  description: ''
                  example: null
              required:
                - printer_id
  /api/modules/rms_api/connections:
    get:
      summary: ''
      operationId: getApiModulesRms_apiConnections
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesRms_apiConnections
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                location_id:
                  type: string
                  description: 'This field is required when <code>id</code> is <code>null</code>.'
                  example: null
                url:
                  type: string
                  description: 'This field is required when <code>id</code> is <code>null</code>.  Must be a valid URL.'
                  example: 'http://www.ryan.com/'
                username:
                  type: string
                  description: 'This field is required when <code>id</code> is <code>null</code>.'
                  example: null
                password:
                  type: string
                  description: 'This field is required when <code>id</code> is <code>null</code>.'
                  example: null
                warehouse_code:
                  type: string
                  description: 'Must not be greater than 5 characters.'
                  example: jft
  '/api/modules/rms_api/connections/{id}':
    delete:
      summary: ''
      operationId: deleteApiModulesRms_apiConnectionsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the connection.'
        example: 20
        required: true
        schema:
          type: integer
  /api/modules/slack/config:
    get:
      summary: ''
      operationId: getApiModulesSlackConfig
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesSlackConfig
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                incoming_webhook_url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://schamberger.com/iure-error-rerum-quia-ea-totam-vel'
  /api/modules/stocktake-suggestions/configuration:
    get:
      summary: ''
      operationId: getApiModulesStocktakeSuggestionsConfiguration
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesStocktakeSuggestionsConfiguration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
  /api/modules/webhooks/subscriptions:
    get:
      summary: ''
      operationId: getApiModulesWebhooksSubscriptions
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiModulesWebhooksSubscriptions
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoint:
                  type: string
                  description: 'Must start with one of <code>https://</code>.'
                  example: 'https://vuqe'
              required:
                - endpoint
  /api/navigation-menu:
    get:
      summary: ''
      operationId: getApiNavigationMenu
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiNavigationMenu
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 100 characters.'
                  example: web
                url:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 999 characters.'
                  example: 'http://vandervort.net/enim-aut-autem-velit-omnis-quod-id-magnam.html'
                group:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 100 characters.'
                  example: iaeundnoz
                  enum:
                    - picklist
                    - packlist
                    - reports
              required:
                - name
                - url
                - group
  '/api/navigation-menu/{id}':
    put:
      summary: ''
      operationId: putApiNavigationMenuId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 100 characters.'
                  example: dvcvqektvefyhdhumfdnqm
                url:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 999 characters.'
                  example: 'https://www.schultz.info/quia-odit-inventore-earum'
                group:
                  type: string
                  description: 'Must be at least 3 characters. Must not be greater than 100 characters.'
                  example: nqvsuogzhdi
                  enum:
                    - picklist
                    - packlist
                    - reports
              required:
                - name
                - url
                - group
    delete:
      summary: ''
      operationId: deleteApiNavigationMenuId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the navigation menu.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/order/addresses/{id}':
    put:
      summary: ''
      operationId: putApiOrderAddressesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: erdman.dedrick@example.com
                phone:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xgicgzgrasgupqs
                first_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: vcztlfactruuqmygaze
                last_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: nzgybrymfnjbe
                company:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lnorrxzewmoyknfnhoscqknz
                address1:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: capr
                address2:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lbzpjieycoyz
                postcode:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: kxhgvflrqdhuc
                city:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: wgpufjkbfzsnxftnmgc
                country_code:
                  type: string
                  description: 'Must be 2 characters.'
                  example: gw
                country_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ypiezw
                fax:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: cvnvgq
                region:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: pwheswkwtcnnofnuoujpsk
                state_code:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: pzstb
                state_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: amouwghktsconmimtbfxldsed
                website:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 255 characters.'
                  example: lvbizxvzgfcfct
              required:
                - email
                - phone
                - first_name
                - last_name
                - company
                - address1
                - address2
                - postcode
                - city
                - country_code
                - country_name
                - fax
                - region
                - state_code
                - state_name
                - website
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the address.'
        example: 12
        required: true
        schema:
          type: integer
  /api/order/comments:
    get:
      summary: ''
      operationId: getApiOrderComments
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiOrderComments
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: number
                  description: ''
                  example: 2554.142
                comment:
                  type: string
                  description: ''
                  example: sunt
              required:
                - order_id
                - comment
  /api/order/payments:
    get:
      summary: ''
      operationId: getApiOrderPayments
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/order/products:
    get:
      summary: ''
      operationId: getApiOrderProducts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  '/api/order/products/{id}':
    put:
      summary: ''
      operationId: putApiOrderProductsId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 12
        required: true
        schema:
          type: integer
  /api/order/shipments:
    get:
      summary: ''
      operationId: getApiOrderShipments
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiOrderShipments
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: number
                  description: ''
                  example: 118322.33184618
                shipping_number:
                  type: string
                  description: ''
                  example: eum
              required:
                - order_id
                - shipping_number
  /api/orders-addresses:
    get:
      summary: ''
      operationId: getApiOrdersAddresses
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiOrdersAddresses
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: totam
                last_name:
                  type: string
                  description: ''
                  example: est
                gender:
                  type: string
                  description: ''
                  example: qui
                address1:
                  type: string
                  description: ''
                  example: iste
                address2:
                  type: string
                  description: ''
                  example: id
                postcode:
                  type: string
                  description: ''
                  example: eaque
                city:
                  type: string
                  description: ''
                  example: repudiandae
                country_code:
                  type: string
                  description: ''
                  example: exercitationem
                country_name:
                  type: string
                  description: ''
                  example: rem
                company:
                  type: string
                  description: ''
                  example: quia
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: pablo29@example.com
                phone:
                  type: string
                  description: ''
                  example: officiis
              required:
                - first_name
                - last_name
                - gender
                - address1
                - address2
                - postcode
                - city
                - country_code
                - country_name
                - email
                - phone
  /api/orders-statuses:
    get:
      summary: ''
      operationId: getApiOrdersStatuses
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiOrdersStatuses
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: ''
                  example: null
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: pkpiucuczghznacsd
              required:
                - name
  '/api/orders-statuses/{id}':
    put:
      summary: ''
      operationId: putApiOrdersStatusesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                order_active:
                  type: boolean
                  description: ''
                  example: false
                order_on_hold:
                  type: boolean
                  description: ''
                  example: true
                hidden:
                  type: boolean
                  description: ''
                  example: false
                sync_ecommerce:
                  type: boolean
                  description: ''
                  example: false
    delete:
      summary: ''
      operationId: deleteApiOrdersStatusesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the orders status.'
        example: facere
        required: true
        schema:
          type: string
  /api/orders:
    get:
      summary: ''
      operationId: getApiOrders
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiOrders
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_number:
                  type: string
                  description: ''
                  example: accusamus
                label_template:
                  type: string
                  description: ''
                  example: null
                products:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        description: ''
                        example: commodi
                      name:
                        type: string
                        description: ''
                        example: sed
                      quantity:
                        type: number
                        description: ''
                        example: 127824.4514342
                      price:
                        type: number
                        description: ''
                        example: 117087246.7597
                    required:
                      - sku
                      - name
                      - quantity
                      - price
              required:
                - order_number
                - products
  '/api/orders/{id}':
    get:
      summary: ''
      operationId: getApiOrdersId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    put:
      summary: ''
      operationId: putApiOrdersId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                shipping_number:
                  type: string
                  description: ''
                  example: null
                label_template:
                  type: string
                  description: ''
                  example: null
                status_code:
                  type: string
                  description: ''
                  example: null
                packed_at:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-10-31T22:53:16'
                packer_user_id:
                  type: integer
                  description: ''
                  example: 12
                is_packed:
                  type: boolean
                  description: ''
                  example: false
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the order.'
        example: 7
        required: true
        schema:
          type: integer
  /api/orders/products/shipments:
    post:
      summary: ''
      operationId: postApiOrdersProductsShipments
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sku_shipped:
                  type: string
                  description: ''
                  example: velit
                product_id:
                  type: integer
                  description: ''
                  example: 18
                order_id:
                  type: integer
                  description: ''
                  example: 1
                order_product_id:
                  type: integer
                  description: ''
                  example: 15
                warehouse_id:
                  type: integer
                  description: ''
                  example: 18
                quantity_shipped:
                  type: number
                  description: ''
                  example: 9018336.278
                order_shipment_id:
                  type: integer
                  description: ''
                  example: 17
  /api/packlist/order:
    get:
      summary: ''
      operationId: getApiPacklistOrder
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: string
                  description: ''
                  example: quia
              required:
                - filter
  /api/picklist:
    get:
      summary: ''
      operationId: getApiPicklist
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/picklist/picks:
    post:
      summary: ''
      operationId: postApiPicklistPicks
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity_picked:
                  type: number
                  description: 'This field is required when <code>quantity_skipped_picking</code> is not present.'
                  example: 9877.97122
                quantity_skipped_picking:
                  type: number
                  description: 'This field is required when <code>quantity_picked</code> is not present.'
                  example: 1036870.6
                order_product_ids:
                  type: array
                  description: ''
                  example:
                    - 3162517.84487
                  items:
                    type: number
  '/api/picklist/picks/{id}':
    delete:
      summary: ''
      operationId: deleteApiPicklistPicksId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the pick.'
        example: 10
        required: true
        schema:
          type: integer
  /api/print-jobs:
    post:
      summary: ''
      operationId: postApiPrintJobs
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                printer_id:
                  type: string
                  description: ''
                  example: autem
                content:
                  type: string
                  description: ''
                  example: placeat
              required:
                - printer_id
                - content
  /api/product/aliases:
    get:
      summary: ''
      operationId: getApiProductAliases
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/product/tags:
    get:
      summary: ''
      operationId: getApiProductTags
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
  /api/products-aliases:
    get:
      summary: ''
      operationId: getApiProductsAliases
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiProductsAliases
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: ''
                  example: 12
                alias:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: avisdxhvemu
              required:
                - product_id
                - alias
  /api/products:
    get:
      summary: ''
      operationId: getApiProducts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiProducts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: qvlj
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: csrdvpbs
                price:
                  type: number
                  description: ''
                  example: 4030802.6856
              required:
                - sku
                - name
                - price
  /api/quantity-discount-product:
    get:
      summary: ''
      operationId: getApiQuantityDiscountProduct
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - API
    post:
      summary: ''
      operationId: postApiQuantityDiscountProduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity_discount_id:
                  type: string
                  description: ''
                  example: nulla
                product_id:
                  type: string
                  description: ''
                  example: ut
              required:
                - quantity_discount_id
                - product_id
  '/api/quantity-discount-product/{id}':
    delete:
      summary: ''
      operationId: deleteApiQuantityDiscountProductId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - API
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the quantity discount product.'
        example: 18
        required: true
        schema:
          type: integer
  /api/quantity-discounts:
    get:
      summary: ''
      operationId: getApiQuantityDiscounts
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
[...]
