<esc-center>
<esc-font-big>Store Name</esc-font-big>
<esc-font-normal>
21 STONEWALL DRIVE
DUBLIN 24
D24 TF12
<esc-br></esc-br>
Seller: {{transaction.seller}}
Date: {{transaction.created_at}}
</esc-font-normal>
</esc-center>
<esc-dashed-line></esc-dashed-line>
<esc-left>
<esc-column>SKU,Name,Quantity,Price</esc-column>
{{#products}}
<esc-column>{{sku}},{{name}},{{quantity}},{{price}}</esc-column>
{{/products}}
</esc-left>
<esc-dashed-line></esc-dashed-line>
<esc-left>
Discount: <esc-tab>${{transaction.discount}}</esc-tab>
Total: <esc-tab>${{transaction.total}}</esc-tab>
</esc-left>
